html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Fredericka the Great', cursive;
  margin: 0;
  padding: 0;
}

h1 {
  padding-bottom: 240px;
  padding-top: 50px;
  font-size: 350%;
  text-shadow: 11px 8px 8px rgba(149, 150, 150, 1);
  margin-bottom: 0px;
}

.splash-container {
  background-image: url(./images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  width: 1000px;
  min-height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.splash-button {
  border-style: solid;
  display: block;
  margin: 65px 410px 0 410px;
  font-size: 150%;
  
}

.splash-button .button {
  text-decoration: none;
  pointer-events: none;
  color: green;
}

.splash-button .button:hover {
  cursor: pointer;
  box-shadow: 11px 8px 8px rgba(149, 150, 150, 1);
}

.splash-container p {
  font-size: 18px
}

.game-screen {
  background-image: url(./images/Background.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.game-screen canvas {
  position: center center
}

.end-screen {
  background-image: url(./images/grass.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  width: 1000px;
  min-height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.end-screen h1 {
  font-size: 330%;
  padding: 0 0 150px 0;
}

.end-screen .button {
  font-size: 30px;
  text-decoration: none;
  color: beige;
  display: block;
  border-style: solid;
  margin: 0 420px; 
}