html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Fredericka the Great', cursive;
  margin: 0;
  padding: 0;
}

h1 {
  padding-bottom: 20px;
  padding-top: 50px;
  font-size: 350%;
  text-shadow: 11px 8px 8px rgba(149, 150, 150, 1);
  margin-bottom: 0px;
}

.splash-container {
  background-image: url(./images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  width: 1000px;
  min-height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.splash-button {
  border-style: solid;
  display: block;
  margin: 20px 410px;
  font-size: 150%;
  background-color: black;
}

.splash-button .button {
  text-decoration: none;
  color: white
}

.splash-button:hover {
  cursor: pointer;
  box-shadow: 11px 8px 8px rgba(149, 150, 150, 1);
  background-color: red
}

.splash-container p {
  font-size: 18px
}

.game-screen {
  margin: auto auto;
  width: 80%;
}

.game-screen canvas {
  background-image: url(./images/Background.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1
}

.game-screen canvas {
  position: center center
}

.end-screen {
  background-image: url(./images/grass.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  width: 1000px;
  min-height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.end-screen h1 {
  font-size: 330%;
  padding: 0 0 100px 0;
}

.end-screen .button {
  font-size: 30px;
  text-decoration: none;
  background-color: beige;
  color: black;
  display: block;
  border-style: solid;
  margin: 0 420px; 
}

.end-screen .button:hover {
  cursor: pointer;
  box-shadow: 11px 8px 8px rgba(149, 150, 150, 1);
  background-color: black;
  color: beige
}

.dropdown {
  display: none;
  background-color: grey;
  min-width: 5rem;
  min-height: 5rem;
  margin: 0;
  z-index: 1
}

.rules:hover .dropdown {
  display: block;
  font-size: 1.1rem;
  margin: 0 330px;
  min-width: 30%;
  max-width: 40%;
  margin: auto;
  padding-top: 19px;
  transition-duration: 1s;
}

.rules {
  margin: 0 30%
}

.rules p {
  cursor: not-allowed;
  color: black;
  font-size: 1.5rem;
  text-shadow: rgba(149, 150, 150, 1);
  display: block;
  border-style: solid;
  border-color: black;
  margin: 0 30%;
  background-color: white;
}

.empty {
  display: inline-block;
  margin-top: 61px;
}

.rules:hover .empty{
  display: none;
  margin-top: 0;
}

